<header class="flex">
  <img
    alt="Nx logo"
    width="75"
    src="https://nx.dev/assets/images/nx-logo-white.svg"
  />
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <h2>Mi Lista de TODOS</h2>
  <!-- Componente TODOS compartido desde la librería UI -->
  <imagina-todos [todos]="todos"></imagina-todos>
  <button id="add-todo" (click)="addTodo()">
    Add New Todo
  </button>
</main>
